.authorization {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.modal {
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: var(--modals-shadow);
  width: 20rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.125rem;
  margin: 0 0 0.75rem;
}

.submitButton {
  align-self: flex-end;
}
